<footer class="footer pt-80 pt-xs-60">
    <div class="container">
        <!--Footer Info -->
        <div class="container">
            <div class="row footer-info mb-60 offset-lg-1">

                <div class="col-lg-4 col-md-3 col-xs-12 mb-sm-30">
                    <h4 class="mb-30">QUICK LINKS</h4>
                    <ul class="link blog-link">
                        <li>
                            <a href="javascript:avoid(0);"></i> About Us</a>
                        </li>
                        <li>
                            <a href="javascript:avoid(0);"></i> Services</a>
                        </li>
                        <li>
                            <a href="javascript:avoid(0);"></i> Privacy policy</a>
                        </li>
                        <li>
                            <a href="javascript:avoid(0);"></i> Terms &amp;
                                condition</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 mb-sm-30">
                    <h4 class="mb-30">CONTACT US</h4>
                    <address>
                        <i class="ion-ios-location fa-icons"></i> #40 Lafeef Jakande road, Owu Ikosi.
                        Off Ikorodu-Epe road, Iganke,
                        Epe, Lagos
                    </address>
                    <ul class="link-small">
                        <li>
                            <a href="mailto:business@support.com"><i
                                    class="ion-ios-email fa-icons"></i>info@bavariagroup.com</a>
                        </li>
                        <li>
                            <a><i class="ion-ios-telephone fa-icons"></i>+234 803 322 1935</a>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 mb-sm-30">
                    <div class="icons-hover-black">
                        <a href="javascript:avoid(0);"> <i class="fa fa-twitter"></i> </a><a
                            href="javascript:avoid(0);"> <i class="fa fa-facebook"></i> </a><a
                            href="javascript:avoid(0);"> <i class="fa fa-instagram"></i> </a>
                    </div>
                </div>

                <!-- End Footer Info -->
            </div>
            <hr style="color: #92BDE7;">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 mb-sm-30 offset-lg-1">
                    <div class="footer-logo">
                        <a href="/"><img src="/static/assets/images/BAVARIA PNG.png" style="height: 30px;"
                                alt=""></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 mb-sm-30 offset-lg-3">
                    <p>Copyright © Bavaria Construction 2022</p>
                </div>
            </div>
        </div>

</footer>
<!-- END FOOTER -->