{% load static %}
	

	
	<!-- header Start -->
	<header id="header" class="header ">

		<div class="nav-wrap">
			<div class="container" >
				<div class="row">
					<div class="col-md-3">
						<div class=" mt-2 mb-3">
								
							<a href="/"><img src="/static/assets/images/svg logo.png" 
									alt=""></a>
						</div>
						<!-- Phone Menu button -->
						<button id="menu" class="menu hidden-md-up"><img src="/static/assets/images/Vector.png" width="200px "  alt=""></button>
					</div>
					<div class="col-md-9 nav-bg d-flex align-items-center" style="height:70px;">
						<nav class="navigation">
							<ul>
								<li>
									<a href="/" class="active" style="font-weight: 300;" >Home</a><i class=" ion-ios-plus-empty hidden-md-up"></i>

								</li>

								<li>
									<a href="/about"style="font-weight: 300;">About us</a><i class=" ion-ios-plus-empty hidden-md-up"></i>

								</li>
								<li>
									<a href="/services"style="font-weight: 300;" >services</a><i class=" ion-ios-plus-empty hidden-md-up"></i>

								</li>
								<li>
									<a href="/project" style="font-weight: 300;" >Project</a><i class=" ion-ios-plus-empty hidden-md-up"></i>

								</li>
								<li >
								<a href="/contact"><input type="button" class="cont" value="contact"></a>
									
								</li>

								</li>

							</ul>

						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--Header End-->