{% extends 'base.html'%}


{% block content %}



	<!-- Intro Section -->
	<section class="inner-intro bg-img light-color overlay-before parallax-background">
		<div class="container">
			<div class="row title">
				<div class="">
					<h1 data-title="About"><span>About Us</span></h1>

				</div>

			</div>
		</div>
	</section>
	<!-- Intro Section -->
	<!-- Section -->
	<section class="padding ptb-xs-40 gray-bg">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 d-flex align-items-center">

					<div>
						<h2 class="bigger_text mt-60 mt-xs-0 mt-sm-2 yo">BAVARIA CONSTRUCTION</h2>
						<h4 style="color: #2464A4; " class="yo">We are the leaders in the Industry</h4>
						<p class="yo">
							“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
							interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per
							conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum
							lobortis.”
							“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
							interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per
							conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum
							lobortis.”
							“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
							interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per
							conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum
							lobortis.”
							“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
							interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per
							conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum
							lobortis.”
						</p>
					</div>

				</div>

				<div class="col-lg-6 mt-sm-30 mt-xs-30">
					<img src="/static/assets/images/about_us.png" alt="">
				</div>

			</div>

		</div>
	</section>
	<!-- Section End-->

	<!-- Team Section -->
	<section id="team" class="padding ptb-xs-40 text-center " style="background-color: #2464A4;">
		<div class="container">
			<div class="row text-center mb-30">
				<div class="col-sm-12">
					<div class="sec_hedding">
						<h2 style="color: #fff;">MEET THE TEAM</h2>

					</div>
				</div>
			</div>

			<!--Team Carousel -->
			<div class="row mt-10">
				<div class="col-md-12">
					<div id="team-carousel" class="owl-carousel team-carousel nf-carousel-theme">

						<div class="team_head">
							<div class="team_view">
								<figure>
									<img src="/static/assets/images/team/01.jpg" alt="">
								</figure>
								<div class="team_discoption text-center ">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
								<div class="team_hover text-center">

								</div>

							</div>

						</div>

						<div class="team_head">
							<div class="team_view">
								<figure>
									<img src="/static/assets/images/team/02.jpg" alt="">
								</figure>
								<div class="team_discoption text-center ">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
								<div class="team_hover text-center">

								</div>
							</div>

						</div>

						<div class="team_head">
							<div class="team_view">
								<figure>
									<img src="/static/assets/images/team/03.jpg" alt="">
								</figure>
								<div class="team_discoption text-center ">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
								<div class="team_hover text-center">

								</div>
							</div>

						</div>

						<div class="team_head">
							<div class="team_view">
								<figure>
									<img src="/static/assets/images/team/04.jpg" alt="">
								</figure>
								<div class="team_discoption text-center ">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
								<div class="team_hover text-center">

								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!--End Team Carousel -->
		</div>
	</section>
	<!-- End Team Section -->
	<!--Team Carousel -->
	<div class="row mt-10">
		<div class="col-md-12">
			<div id="team-carousel" class="owl-carousel team-carousel nf-carousel-theme">

				<div class="team_head">
					<div class="team_view">
						<figure>
							<img src="/static/assets/images/team/01.jpg" alt="">
						</figure>

						<div class="team_hover text-center">
							<div>
								<ul>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
									</li>
									k <li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-google-plus"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-instagram"></i></a>
									</li>
								</ul>
								<p class="text-white">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>
					<div class="team_discoption text-center mt-15">
						<span class="team_name">Kevin Peterson</span>
						<span class="postion">Engineer</span>
					</div>
				</div>

				<div class="team_head">
					<div class="team_view">
						<figure>
							<img src="/static/assets/images/team/02.jpg" alt="">
						</figure>

						<div class="team_hover text-center">
							<div>
								<ul>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-google-plus"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-instagram"></i></a>
									</li>
								</ul>
								<p class="text-white">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>
					<div class="team_discoption text-center mt-15">
						<span class="team_name">Kevin Peterson</span>
						<span class="postion">Engineer</span>
					</div>
				</div>

				<div class="team_head">
					<div class="team_view">
						<figure>
							<img src="/static/assets/images/team/03.jpg" alt="">
						</figure>

						<div class="team_hover text-center">
							<div>
								<ul>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-google-plus"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-instagram"></i></a>
									</li>
								</ul>
								<p class="text-white">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>
					<div class="team_discoption text-center mt-15">
						<span class="team_name">Kevin Peterson</span>
						<span class="postion">Engineer</span>
					</div>
				</div>

				<div class="team_head">
					<div class="team_view">
						<figure>
							<img src="/static/assets/images/team/04.jpg" alt="">
						</figure>

						<div class="team_hover text-center">
							<div>
								<ul>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-google-plus"></i></a>
									</li>
									<li>
										<a href="#" target="_blank" class="text-white"><i
												class="fa fa-instagram"></i></a>
									</li>
								</ul>
								<p class="text-white">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>
					<div class="team_discoption text-center mt-15">
						<span class="team_name">Kevin Peterson</span>
						<span class="postion">Engineer</span>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--End Team Carousel -->
	</div>
	</section>
	<!-- End Team Section -->
	<!--Testimonial Section Start-->
	<section class="testimonial_wrapper__block padding ptb-xs-40" style="margin-top: 150px;">
		<div class="container">
			<div class="row text-center mb-30">
				<div class="col-sm-12">
					<div class="sec_hedding">
						<h2>What our clients are saying</h2>
						<span class="b-line"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="testimonial_carosule-wrap ">
						<div class="single_carousel pt-40 ">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]

								<b>John Doe </b> <br>
								<b>Lagos Nigeria</b>
							</p>

						</div>
						<div class="single_carousel pt-40">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]
								<b>John Doe </b> <br>
								<b>Lagos Nigeria</b>
							</p>

						</div>
						<div class="single_carousel pt-40">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]

								<b>John Doe </b> <br>
								<b>Lagos Nigeria</b>

							</p>

						</div>
						<div class="single_carousel pt-40">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]
								<b>John Doe </b> <br>
								<b>Lagos Nigeria</b>
							</p>

						</div>
						<div class="single_carousel pt-40">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]
								<b>John Doe </b> <br>
								<b>Lagos Nigeria</b>
							</p>

						</div>
						<div class="single_carousel pt-40">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]
								<b> <b>John Doe </b> </b> <br>
								<b>Lagos Nigeria</b>
							</p>

						</div>
						<div class="single_carousel pt-40">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
								adipiscing
								elit, sed do eiusmod [..]
								<b> <b> <b>John Doe </b> </b> </b> <br>
								<b>Lagos Nigeria</b>
							</p>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Testimonial Section End-->



	<div class="fast" style="border: 1px solid #FDF5DF; text-align: center; background-color: #FDF5DF; height: 120px; ">
		<div class="container mt-20">

			<h4 style="color: #2464A4;"> FAST AND RELIABLE SERVICE FOR YOUR PROJECT OR NEED A QUICK FIX? WE DO IT ALL!
			</h4>

			<a class="btn-text mb-30" href="/contact" style="border-radius: 5px;border-color:#ffa500;">contact us</a> <br> <br>
		</div>
	</div>
	</div>
	</div> <br> <br> <br>



{% endblock %}