{% extends 'base.html'%}


{% block content %}





<!--Header End-->



		
		<!-- Map Section -->
		<div class="container contact-form padding pt-xs-40 ">
			<div class="row">
				<div class="col-md-12 col-lg-12">
				
					<!-- Contact FORM -->
					<form class="contact-form mt-45" id="contact">
						<!-- IF MAIL SENT SUCCESSFULLY -->
						<div id="success">
							<div role="alert" class="alert alert-success"> <strong>Thanks</strong> for send us
								a message Your message has been sent. </div>
						</div>
						<!-- END IF MAIL SENT SUCCESSFULLY -->
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<h4 style="color: #2464A4; ">Contact Us</h4>
								<div class="form-field">
									<input class="input-sm form-full" id="name" type="text" name="form-name"
										placeholder="Full Name">
								</div>
								<div class="form-field">
									<input class="input-sm form-full" id="email" type="text" name="form-email"
										placeholder="Phone number">
								</div>
								<div class="form-field">
									<input class="input-sm form-full" id="email" type="text" name="form-email"
										placeholder="Email">
								</div>
								<div class="form-field">
									<input class="input-sm form-full" id="sub" type="text" name="form-subject"
										placeholder="Subject">
								</div>
								<div class="form-field">
									<textarea class="form-full" id="message" rows="7" name="form-message"
										placeholder="Your Message"></textarea>
								</div>
								<button class="btn-text" type="button" id="submit" name="button"
									style="border-radius: 5px; width: 300px; border-color:#ffa500; margin-right:600px;"> Send Message </button>
							</div>
							<div class="col-md-6 col-lg-6">
								<h4 style="text-align:left;">Address</h4>
								<address style="text-align: left;">
									<p>40 ,Lafeef Jakande road, Owu Ikosi. <br>
										Off Ikorodu-Epe road, Iganke, <br>
										Epe, Lagos</p>
								</address>
								<h4 style="text-align:left;">Email</h4>
								<p style="text-align:left;">
								<a href="mailto:info@bavariagroup.com" ></i>info@bavariagroup.com</a>
								</p>


								<h4 style="text-align: left;">Phone number</h4>
								<p style="text-align: left;">+234 803 322 1935</p>
								<img src="/static/assets/images/slider2.jpg" alt="">
							</div>
							<div class="col-md-6 col-lg-12 mt-30">
								
							</div>
						</div>
					</form>
					<!-- END Contact FORM -->
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section -->



{% endblock %}