{% extends 'base.html'%}


{% block content %}

<br><br><br>






<div class="main-banner">
    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
       
        <div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-129">
                    <!-- MAIN IMAGE -->
                    <img src="static/assets/images/unsplash_VLPUm5wP5Z0 (1).png" alt="" class="rev-slidebg slideheight mainbggimg ">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    
                    <div class="tp-caption Newspaper-Title tp-resizeme" id="slide-129-layer-1"
                        data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                        data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
                        data-fontsize="['50','50','50','30']" data-lineheight="['55','55','55','35']"
                        data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                        data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">

                        <div class="banner-text">


                            <h2 style="font-weight: 600;">If It’s Worth Building </h2>
                            <h2 style="font-weight: 600;">It’s <span style="font-weight: 600;"> Worth Building WELL</span> </h2>
                            <p style="font-weight: 400;font-family: 'Montserrat';">
                                Our company provides the best construction services to industrial clients
                                across Nigeria and provides reliable infastructure.
                            </p>
                            <div class="d-grid gap-5 d-md-block">
                                <input class="beett" type="button" value="contact us">
                                <input class="bee" type="button" value="Learn more">
                            </div>

                        </div>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-index="rs-130" data-title="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="static/assets/images/unsplash_VLPUm5wP5Z0 (1).png" alt="" class="rev-slidebg mainbggimg">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title tp-resizeme" id="slide-129-layer-2"
                        data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                        data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
                        data-fontsize="['50','50','50','30']" data-lineheight="['55','55','55','35']"
                        data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                        data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <div class="banner-text">


                            <h2>If It’s Worth Building </h2>
                            <h2>It’s <span> Worth Building WELL</span> </h2>
                            <p style="font-weight: 400;font-family: 'Montserrat';">
                                Our company provides the best construction services to industrial clients
                                across Nigeria and provides reliable infastructure.
                            </p>
                            <div class="d-grid gap-5 d-md-block">
                                <input class="beett" type="button" value="contact us">
                                <input class="bee" type="button" value="Learn more">
                            </div>


                        </div>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-index="rs-131">
                    <!-- MAIN IMAGE -->
                    <img src="static/assets/images/banner/banner_3.jpg" alt="" class="rev-slidebg mainbggimg">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title tp-resizeme" id="slide-129-layer-3"
                        data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                        data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
                        data-fontsize="['50','50','50','30']" data-lineheight="['55','55','55','35']"
                        data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                        data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <div class="banner-text">


                            <h2>If It’s Worth Building </h2>
                            <h2>It’s <span> Worth Building WELL</span> </h2>
                            <p style="font-weight: 400;font-family: 'Montserrat';">
                                Our company provides the best construction services to industrial clients
                                across Nigeria and provides reliable infastructure.
                            </p>
                            <div class="d-grid gap-5 d-md-block">
                                <input class="beett" type="button" value="contact us">
                                <input class="bee" type="button" value="Learn more">
                            </div>


                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
            </ul>
            <!-- <div class="tp-bannertimer tp-bottom"></div> -->
        </div>
    </div>
</div>
<!--  Main Banner End Here-->

<div class="container mt-5">
    <div class="card " style="box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3">
                    <div class="solution_box about_new">
                        
                        <i class="fa fa-check-square-o color_orenge"  aria-hidden="true"></i>
                        <p class="hee" >Exceptional Services</p>
                        
                        <p class="heee">
                            One of the world’s leading construction services for everyone.
                        </p>
                        <hr class="hi">

                    </div>
                </div>

                <div class="col-lg-3 mt-sm-30 mt-xs-30">
                    <div class="solution_box about_new">
                        <i class="fa fa-paper-plane-o color_orenge" aria-hidden="true"></i>
                        <p class="hee">Quality Assurance</p>
                        <p class="heee">
                            One of the world’s leading construction
                            services for everyone.
                        </p>
                        <hr class="hi">

                    </div>
                </div>

                <div class="col-lg-3 mt-sm-30 mt-xs-30">
                    <div class="solution_box about_new">
                        <i class="fa fa-cogs color_orenge" aria-hidden="true"></i>
                        <p class="hee">Site Safety</p>
                        <p class="heee">
                            One of the world’s leading construction services for everyone.
                        </p>
                        <hr class="hi">

                    </div>
                </div>
                <div class="col-lg-3 mt-sm-30 mt-xs-30">
                    <div class="solution_box about_new">
                        <i class="fa fa-money color_orenge" aria-hidden="true"></i>
                        <p class="hee">Competitive Pricing</p>
                        <p class="heee">
                            One of the world’s leading construction
                            services for everyone.
                        </p>
                    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="fast" style="border: 1px solid #FDF5DF; text-align: center; background-color: #FDF5DF; height: 86px; ">
        <div class="container mt-20">
            <div class="row">
                <h4 style="color: #2464A4;">FAST AND RELIABLE SERVICE FOR YOUR PROJECT OR NEED A QUICK FIX? WE DO IT
                    ALL!</h4>
                <div class="offset-lg-2 mb-20">
                    <a class="btn-text" href="/contact" style="border-radius: 5px;border-color:#ffa500 ;"> GET A QUOTE
                        </a>
                </div>
            </div>
        </div>
    </div>

    <!--About-->
    <section id="about_us" class="padding ptb-xs-40 ">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12 col-lg-5 abtimg">
                    <img src="/static/assets/images/bvc1.png"  class="repo-full" alt="" />
                </div>
                <div class="col-md-12 col-lg-7 about-left">

                    <div class="sec_hedding">
                        <h2><span>About </span>Company</h2>
                        <span class="b-line l-left"></span>
                    </div>
                    <p style="color: #000;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim aquis
                        nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo consequat orem ipsum dolor
                        sit ametconsectetur adipis cing elit sed do
                        eiusmod tempor incididunt
                    </p>
                    <a class="btn-text btnn" href="/about" style="border-radius: 5px;border-color:#ffa500 ;"> read
                        more</a>
                </div>



            </div>

        </div>
    </section>
    
    <!--About Us-->

    <!-- Blog -->
    <section id="blog" class="blog ">
        <div class="container">
            <div class="faq ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center">
                            <!-- <div class="block-title b-line mb-35"> -->
                                <p style="color:#F3BC1C">Our Services </p>
                                <h1 class="bold">WHAT WE OFFER</h1>
                                <span class="b-line"></span> 
                                <!-- <p class="bold">What we offer</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row " style="padding: 30px 30px 30px 30px; ">

                <!-- posts -->
                <div class="col-lg-4 mb-sm-30 mb-xs-30 ">
                    <div class="post">
                        <div class="post-img img-fluid">
                            <a href="#!"> <img src="static/assets/images/blog/home_blog_1.jpg" alt="image"> </a>
                        </div>
                        <div class="post-content">
                            <h4>Excavation</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc vulputate libero et
                                velit interdum, ac aliquet odio mattis.
                            </p>
                            <a class="btn-text" style="border-radius: 5px; border-color: #fff;"
                                href="about">
                                read more</a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-sm-30 mb-xs-30">
                    <div class="post">
                        <div class="post-img img-fluid">
                            <a href="#!"> <img src="static/assets/images/blog/home_blog_2.jpg" alt="image"> </a>
                        </div>
                        <div class="post-content">
                            <h4>Dredging</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc vulputate libero et
                                velit interdum, ac aliquet odio mattis.
                            </p>
                            <a class="btn-text" style="border-radius: 5px; border-color: #fff;"
                                href="about">
                                read more</a>


                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="post">
                        <div class="post-img img-fluid">
                            <a href="#!"> <img src="static/assets/images/blog/home_blog_3.jpg" alt="image"> </a>
                        </div>
                        <div class="post-content">
                            <h4>Construction Management</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc vulputate libero et
                                velit interdum, ac aliquet odio mattis.
                            </p>
                            <a class="btn-text" style="border-radius: 5px; border-color: #fff;"
                                href="about">
                                read more</a>


                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-5"style="padding: 30px 30px 30px 30px; ">

                <!-- posts -->
                <div class="col-lg-4 mb-sm-30 mb-xs-30">
                    <div class="post">
                        <div class="post-img img-fluid">
                            <a href="#!"> <img src="static/assets/images/blog/home_blog_1.jpg" alt="image"> </a>
                        </div>
                        <div class="post-content">
                            <h4>Swamp Excavating</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc vulputate libero et
                                velit interdum, ac aliquet odio mattis.
                            </p>
                            <a class="btn-text" style="border-radius: 5px; border-color: #fff;"
                                href="about">
                                read more</a>


                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-sm-30 mb-xs-30">
                    <div class="post">
                        <div class="post-img img-fluid">
                            <a href="#!"> <img src="static/assets/images/blog/home_blog_2.jpg" alt="image"> </a>
                        </div>
                        <div class="post-content">
                            <h4>Operations and Services</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc vulputate libero et
                                velit interdum, ac aliquet odio mattis.
                            </p>
                            <a class="btn-text" style="border-radius: 5px; border-color: #fff;"
                                href="about">
                                read more</a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="post">
                        <div class="post-img img-fluid">
                            <a href="#!"> <img src="static/assets/images/blog/home_blog_3.jpg" alt="image"> </a>
                        </div>
                        <div class="post-content">
                            <h4>Planning and Design</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc vulputate libero et
                                velit interdum, ac aliquet odio mattis.
                            </p>
                            <a class="btn-text" style="border-radius: 5px; border-color: #fff;"
                                href="about">
                                read more</a>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </section>

    <div class="container mt-5">
        <hr>
    </div>
    <section style="background-color: #DBE9F7;">


        <!-- faq starts -->
        <section id="blog" class="blog padding ptb-xs-40">
            <div class="container">
                <!-- section head -->
                <div class="row text-center mb-30">
                    <div class="col-sm-12">
                        <div class="sec_hedding">
                            <h2>Frequently Asked Questions</h2>
                            <!-- <span class="b-line"></span> -->
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- posts -->
                    <div class="container col-md-6 col-lg-6 anim-section creer_page mb-30">

                        <div class="post">

                            <div class="post-content">
                                <div id="accordion">
                                    <div class="cards">
                                        <div class="cards-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <i class="fa fa-angle-up"></i>
                                                <button class="" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne" style="background-color: #fff;font-weight:bold;">
                                                    What will it cost?
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div> <hr>
                                    <div class="cards">
                                        <div class="card-headerss" id="headingTwo">
                                            <h5 class="mb-0">
                                                <i class="fa fa-angle-up"></i>
                                                <button data-toggle="collapse" data-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo"style="background-color: #fff;font-weight:bold;">
                                                    what are we doing
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div> 
                                    <hr>
                                    <div class="cards">
                                        <div class="card-headers" id="headingThree">
                                            <h5 class="mb-0">
                                                <i class="fa fa-angle-up"></i>
                                                <button data-toggle="collapse" data-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree"style="background-color: #fff; font-weight:bold;">
                                                    what is going on
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div> <hr>
                                </div>


                            </div>
                        </div>
                    </div>
        </section> 
    </section>
        <!-- faq ends -->
        
    
    
    

    

    <div class="faq  mt-5" style="align-items: center;" >
        <div class="container">
            <div class="row" >
                <div class="col-md-12 col-lg-12 ">
                    <div class="block-title x-line  ">
                        <h2 >Our <span style="color: #ffa500;">Projects</span> </h2>
                        <!-- <p class="bold ">What we have done</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Quick Quote Section start-->
    <section id="feadback" class="padding ptb-xs-40  mt-20">
        <div class="container">
            <div class="row text-center mb-30  light-color">
                <div class="col-sm-12">
                    <div class="sec_hedding">
                        <!-- <h2><span>Quick</span> Quote</h2> -->
                        <!-- <span class="b-line"></span> -->
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Project_Section -->
                <section class="">
                    <div class="container">
                        <div class="row text-center ">
                            <div class="col-sm-12">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 mb-sm-30 mb-xs-30">
                                <div class="position_relative img-scale max_size">
                                    <figure class="picher_doc">
                                        <img src="static/assets/images/blog/home_blog_1.jpg" alt="">
                                        <div class="opacity-medium bg-extra-black"></div>
                                        <h3 style="color: #fff; text-align:center;">HOME CONSTRUCTION</h3>


                                    </figure>
                                </div>
                            </div>

                            <div class="col-lg-3 mb-sm-30 mb-xs-30">
                                <div class="position_relative img-scale max_size">
                                    <figure class="picher_doc">
                                        <img src="static/assets/images/blog/home_blog_2.jpg" alt="">
                                        <div class="opacity-medium bg-extra-black"></div>
                                        <h3 style="color: #fff; text-align:center;">HOME REMODELLING</h3>
                                    </figure>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="position_relative img-scale max_size">
                                    <figure class="picher_doc">
                                        <img src="static/assets/images/blog/home_blog_3.jpg" alt="">
                                        <div class="opacity-medium bg-extra-black"></div>
                                        <h3 style="color: #fff; text-align:center;">HOME REMODELLING</h3>

                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="position_relative img-scale max_size">
                                    <figure class="picher_doc">
                                        <img src="static/assets/images/blog/home_blog_2.jpg" alt="">
                                        <div class="opacity-medium bg-extra-black"></div>
                                        <h3 style="color: #fff; text-align:center;">HOME CONSTRUCTION</h3>

                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- Project_Section_End-->

            </div>

        </div>
    </section>
    
    <section class="testimonial_wrapper__block padding ptb-xs-40" style="margin-top: 200px;">
        <div class="container">
            <h4 class="bold text-center" style="margin-bottom: 50px;">What people are saying about us </h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial_carosule-wrap ">
                        <div class="single_carousel pt-40 ">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]

                                <b>John Doe </b> <br>
                                <b>Lagos Nigeria</b>
                            </p>

                        </div>
                        <div class="single_carousel pt-40">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]
                                <b>John Doe </b> <br>
                                <b>Lagos Nigeria</b>
                            </p>

                        </div>
                        <div class="single_carousel pt-40">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]

                                <b>John Doe </b> <br>
                                <b>Lagos Nigeria</b>

                            </p>

                        </div>
                        <div class="single_carousel pt-40">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]
                                <b>John Doe </b> <br>
                                <b>Lagos Nigeria</b>
                            </p>

                        </div>
                        <div class="single_carousel pt-40">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]
                                <b>John Doe </b> <br>
                                <b>Lagos Nigeria</b>
                            </p>

                        </div>
                        <div class="single_carousel pt-40">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]
                                <b> <b>John Doe </b> </b> <br>
                                <b>Lagos Nigeria</b>
                            </p>

                        </div>
                        <div class="single_carousel pt-40">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod [..]
                                <b> <b> <b>John Doe </b> </b> </b> <br>
                                <b>Lagos Nigeria</b>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial Section End-->


    <!-- Team Section -->

    <div class="faq padding ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="block-title  mb-35">
                        <img src="/static/assets/images/lines-stripes-white-yellow-streaks-1920x1080-c2-ffd700-ffffff-l2-179-179-a-120-f-1 1.png" class="stripe" 
                         alt="" srcset="">
                        <h2 class="stripes">MEET THE TEAM</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="team" class=" mb-30  text-center " style="background-color: #fff;">
        <div class="container">
            <!--Team Carousel -->
            <div class="row ">
                <div class="col-md-12">
                    <div id="team-carousel" class="owl-carousel team-carousel nf-carousel-theme">

                        <div class="team_head">
                            <div class="team_view">
                                <figure>
                                    <img src="static/assets/images/team/01.jpg" alt="">
                                </figure>
                                <div class="team_discoption text-center ">
                                    <span class="team_name " >Kevin Peterson  </span>
                                    <span class="postion">Engineer</span>
                                </div>
                                <div class="team_hover text-center">

                                </div>

                            </div>

                        </div>
                        
                        <div class="team_head">
                            <div class="team_view">
                                <figure>
                                    <img src="static/assets/images/team/02.jpg" alt="">
                                </figure>
                                <div class="team_discoption text-center ">
                                    <span class="team_name">Kevin Peterson</span>
                                    <span class="postion">Engineer</span>
                                </div>
                                <div class="team_hover text-center">

                                </div>
                            </div>

                        </div>

                        <div class="team_head">
                            <div class="team_view">
                                <figure>
                                    <img src="static/assets/images/team/03.jpg" alt="">
                                </figure>
                                <div class="team_discoption text-center ">
                                    <span class="team_name ">Kevin Peterson</span>
                                    <span class="postion">Engineer</span>
                                </div>
                                <div class="team_hover text-center">

                                </div>
                            </div>

                        </div>

                        <div class="team_head">
                            <div class="team_view">
                                <figure>
                                    <img src="static/assets/images/team/04.jpg" alt="">
                                </figure>
                                <div class="team_discoption text-center ">
                                    <span class="team_name">Kevin Peterson</span>
                                    <span class="postion">Engineer</span>
                                </div>
                                <div class="team_hover text-center">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--End Team Carousel -->
        </div>
    </section>
    <!-- End Team Section -->

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn1");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <style>
        #myBtn1 {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #myBtn1:hover {
            background-color: #555;
        }
    </style>


    <button onclick="topFunction()" id="myBtn1" title="Go to top">Top</button>
    <!-- FOOTER -->



{% endblock %}