{% extends 'base.html'%}


{% block content %}


	<!--Header End-->
	<section class="inner-intro bg-img light-color overlay-before parallax-background" >
		<div class="container">
		  <div class="row title">
			  <div class="">
				  <h1 data-title="About"><span>OUR SERVICES</span></h1>
				  
			  </div>
			
		  </div>
		</div>
	  </section>


	<!-- About Section End-->
	<!-- Story Section -->
	<br> <br> <br>
	<div id="story-section" class="ptb ptb-xs-60  " style="background-color: #fff;">
		<div class="container">
			<div class="row " >
				<div class="col-md-12 col-lg-12">
					<div class="ui-timline-container removemee">
						<div class="ui-timeline">
							<div class="tl-item">
								<div class="tl-body">
									<div class="tl-entry">
										
									</div>
								</div>
							</div>
							
							<div class="tl-item alt">
								<div class="tl-body">
									<div class="tl-entry">
										<div class="tl-time">
											<h2 style="margin-left: 170px;margin-top: 0%;color: #2464A4;">Excavation</h2>
											<div>
											<p  style=" margin-left:170px;width: 25rem; margin-bottom: 50px;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
												 per inceptos himenaeos. Curabitur tempus urna at turpis 
												condimentum lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis condimentum ac, vestibulum eu nisl. <br>
												 <a class="btn-text" href="/contact"
												 style="border-radius: 5px;border-color:#ffa500 ; margin-top: 30px;"> Contact us</a>
													 
												</p>
											</div>
										</div>
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
											<!-- <i class="fa fa-check"></i> -->
										</div>
										<div class="col-lg-5">
											<div class="post">
												<div class="post-imgs img-fluids" style="width:350px; box-shadow:15px 15px #2464A4;">
													<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg"
															alt="image"> </a>
												</div>
														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-item">
								<div class="tl-body">
									<div class="tl-entry">
										<div class="tl-time" style="margin-left: -500px;">
											<h2 style="margin-left: 170px;margin-top: 0%;color: #2464A4;">Excavation</h2>
											<div>
											<p  style=" margin-left:170px;width: 25rem; margin-bottom: 50px;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
												 per inceptos himenaeos. Curabitur tempus urna at turpis 
												condimentum lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis condimentum ac, vestibulum eu nisl. <br>
												 <a class="btn-text" href="/contact"
												 style="border-radius: 5px;border-color:#ffa500 ; margin-top: 30px;"> Contact us</a>
													 
												</p>
											</div>
										</div>
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary">
											<!-- <i class="fa fa-camera"></i> -->
										</div>
										<div class="col-lg-5">
											<div class="post">
												<div class="post-imgs img-fluids" style="width:350px; box-shadow:15px 15px #F3BC1C;margin-top: 120px;margin-bottom: 120px;margin-left: 110px;">
													<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg"
															alt="image"> </a>
												</div>	
														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-item alt">
								<div class="tl-body">
									<div class="tl-entry">
										<div class="tl-time">
											<h2 style="margin-left: 170px;margin-top: 0%;color: #2464A4;">Excavation</h2>
											<div>
											<p  style=" margin-left:170px;width: 25rem; margin-bottom: 50px;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
												 per inceptos himenaeos. Curabitur tempus urna at turpis 
												condimentum lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis condimentum ac, vestibulum eu nisl. <br>
												 <a class="btn-text" href="/contact"
												 style="border-radius: 5px;border-color:#ffa500 ; margin-top: 30px;"> Contact us</a>
													 
												</p>
											</div>
										</div>
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
											<!-- <i class="fa fa-check"></i> -->
										</div>
										<div class="col-lg-5">
											<div class="post">
												<div class="post-imgs img-fluids" style="width:350px; box-shadow:15px 15px #2464A4;">
													<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg"
															alt="image"> </a>
												</div>
														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-item">
								<div class="tl-body">
									<div class="tl-entry">
										<div class="tl-time" style="margin-left: -500px;">
											<h2 style="margin-left: 170px;margin-top: 0%;color: #2464A4;">Excavation</h2>
											<div>
											<p  style=" margin-left:170px;width: 25rem; margin-bottom: 50px;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
												 per inceptos himenaeos. Curabitur tempus urna at turpis 
												condimentum lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis condimentum ac, vestibulum eu nisl. <br>
												 <a class="btn-text" href="/contact"
												 style="border-radius: 5px;border-color:#ffa500 ; margin-top: 30px;"> Contact us</a>
													 
												</p>
											</div>
										</div>
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary">
											<!-- <i class="fa fa-camera"></i> -->
										</div>
										<div class="col-lg-5">
											<div class="post">
												<div class="post-imgs img-fluids"style="width:350px; box-shadow:15px 15px #F3BC1C;margin-top: 120px;margin-bottom: 120px;margin-left: 110px;">
													<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg"
															alt="image"> </a>
												</div>	
														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-item alt">
								<div class="tl-body">
									<div class="tl-entry">
										<div class="tl-time">
											<h2 style="margin-left: 170px;margin-top: 0%;color: #2464A4;">Excavation</h2>
											<div>
											<p  style=" margin-left:170px;width: 25rem; margin-bottom: 50px;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
												 per inceptos himenaeos. Curabitur tempus urna at turpis 
												condimentum lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis condimentum ac, vestibulum eu nisl. <br>
												 <a class="btn-text" href="/contact"
												 style="border-radius: 5px;border-color:#ffa500 ; margin-top: 30px;"> Contact us</a>
													 
												</p>
											</div>
										</div>
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
											<!-- <i class="fa fa-check"></i> -->
										</div>
										<div class="col-lg-5">
											<div class="post">
												<div class="post-imgs img-fluids" style="width:350px; box-shadow:15px 15px #2464A4;">
													<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg"
															alt="image"> </a>
												</div>
														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-item">
								<div class="tl-body">
									<div class="tl-entry">
										<div class="tl-time" style="margin-left: -500px;">
											<h2 style="margin-left: 170px;margin-top: 0%; color: #2464A4;">Excavation</h2>
											<div>
											<p  style=" margin-left:170px;width: 25rem; margin-bottom: 50px;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
												 per inceptos himenaeos. Curabitur tempus urna at turpis 
												condimentum lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis condimentum ac, vestibulum eu nisl. <br>
												 <a class="btn-text" href="/contact"
												 style="border-radius: 5px;border-color:#ffa500 ; margin-top: 30px;"> Contact us</a>
													 
												</p>
											</div>
										</div>
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary">
											<!-- <i class="fa fa-camera"></i> -->
										</div>
										<div class="col-lg-5">
											<div class="post">
												<div class="post-imgs img-fluids" style="width:350px; box-shadow:15px 15px #F3BC1C;margin-top: 120px;margin-bottom: 120px;margin-left: 110px;">
													<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg"
															alt="image"> </a>
												</div>	
														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-item">
								<div class="tl-body">
									<div class="tl-entry">
										
										<div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
										
										</div>
										
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<section id="blog" class="blog removeme">
			<div class="container">
				<!-- <div class="faq ">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="block-title v-line mb-35">
									<h2>Our Services </h2>
									<p class="bold">What we offer</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="row " style="padding: 30px 30px 30px 30px; ">

					<!-- posts -->
					<div class="col-lg-4 mb-sm-30 mb-xs-30 ">
						<div class="post">
							<div class="post-img img-fluid">
								<a href="#!"> <img src="/static/assets/images/blog/home_blog_1.jpg" alt="image"> </a>
							</div>
							<div class="post-content">
								<h4>Excavation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nunc vulputate libero et
									velit interdum, ac aliquet odio mattis.
								</p>
								<a class="btn-text" style="border-radius: 5px; border-color: #fff;"
									href="/contact">
									Contact us</a>

							</div>
						</div>
					</div>

					<div class="col-lg-4 mb-sm-30 mb-xs-30">
						<div class="post">
							<div class="post-img img-fluid">
								<a href="#!"> <img src="/static/assets/images/blog/home_blog_2.jpg" alt="image"> </a>
							</div>
							<div class="post-content">
								<h4>Excavation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nunc vulputate libero et
									velit interdum, ac aliquet odio mattis.
								</p>
								<a class="btn-text" style="border-radius: 5px; border-color: #fff;"
									href="/contact">
									Contact us</a>


							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="post">
							<div class="post-img img-fluid">
								<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg" alt="image"> </a>
							</div>
							<div class="post-content">
								<h4>Excavation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nunc vulputate libero et
									velit interdum, ac aliquet odio mattis.
								</p>
								<a class="btn-text" style="border-radius: 5px; border-color: #fff;"
									href="/contact">
									Contact us</a>


							</div>
						</div>
					</div>

				</div>
				<div class="row mt-5"style="padding: 30px 30px 30px 30px; ">

					<!-- posts -->
					<div class="col-lg-4 mb-sm-30 mb-xs-30">
						<div class="post">
							<div class="post-img img-fluid">
								<a href="#!"> <img src="/static/assets/images/blog/home_blog_1.jpg" alt="image"> </a>
							</div>
							<div class="post-content">
								<h4>Excavation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nunc vulputate libero et
									velit interdum, ac aliquet odio mattis.
								</p>
								<a class="btn-text" style="border-radius: 5px; border-color: #fff;"
									href="/contact">
									Contact us</a>


							</div>
						</div>
					</div>

					<div class="col-lg-4 mb-sm-30 mb-xs-30">
						<div class="post">
							<div class="post-img img-fluid">
								<a href="#!"> <img src="/static/assets/images/blog/home_blog_2.jpg" alt="image"> </a>
							</div>
							<div class="post-content">
								<h4>Excavation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nunc vulputate libero et
									velit interdum, ac aliquet odio mattis.
								</p>
								<a class="btn-text" style="border-radius: 5px; border-color: #fff;"
									href="/contact">
									Contact us</a>

							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="post">
							<div class="post-img img-fluid">
								<a href="#!"> <img src="/static/assets/images/blog/home_blog_3.jpg" alt="image"> </a>
							</div>
							<div class="post-content">
								<h4>Excavation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nunc vulputate libero et
									velit interdum, ac aliquet odio mattis.
								</p>
								<a class="btn-text" style="border-radius: 5px; border-color: #fff;"
									href="/contact">
									Contact us</a>


							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	</div>
	<div class="removemee" style="border: 1px solid #FDF5DF; text-align: center; background-color: #FDF5DF; height: 120px; ">
		<div class="container mt-20 ">

			<h4 style="color: #2464A4;" class=""> FAST AND RELIABLE SERVICE FOR YOUR PROJECT OR NEED A QUICK FIX? WE DO IT ALL!
			</h4>

			<a class="btn-text mb-30" href="/about" style="border-radius: 5px;border-color:#ffa500;"> read
				more</a> <br> <br>
		</div>
	</div> <br> <br> <br>
	

{% endblock %}